.Navbar {
    border-bottom: 1px solid #ccc;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 10;
    margin-top: 0.5rem;
    font-size: 1rem;
}

.nav-link-active {
    color: #2E8B57 !important;
    font-weight: bold !important;
}

/* Addition of a hover effect to magnify text slightly */
.Navbar .nav-link {
    transition: transform 0.3s ease;
    font-size: 18px;
    margin-right: 1.5rem; /* extra space is added between nav links */
}

.Navbar .nav-link:hover {
    transform: scale(1.2);
}