.profile-card {
  border: none;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 10px;
}

.profile-name {
  font-size: 1.5rem;
  font-weight: bold;
  justify-content: center;
}

.profile-role {
  color: #666;
  font-size: 12px;
  margin-bottom: 5px;
}

.profile-button {
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}
