<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.data.service.dataservice.repository.ParkMapper">

    <resultMap id="ParkResultMap" type="com.data.service.dataservice.entity.Park">
        <id column="park_id" property="parkId"/>
        <result column="park_name" property="parkName"/>
        <result column="park_entrance" property="parkEntrance"/>
        <result column="is_cafe" property="isCafe"/>
        <result column="is_playground" property="isPlayground"/>
        <result column="is_toilet" property="isToilet"/>
        <result column="is_toilet_handicap_access" property="isToiletHandicapAccess"/>
        <result column="is_restaurant" property="isRestaurant"/>
        <result column="is_shelter" property="isShelter"/>
        <result column="is_drinking_water" property="isDrinkingWater"/>
        <result column="is_bar" property="isBar"/>
        <result column="is_bench" property="isBench"/>
        <result column="is_garden" property="isGarden"/>
        <result column="is_fountain" property="isFountain"/>
        <result column="is_monument" property="isMonument"/>
    </resultMap>

    <select id="findAll" resultMap="ParkResultMap">
        SELECT * FROM amenities
    </select>

</mapper>