.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header .modal-title {
  font-size: 24px;
  font-weight: bold;
}

.modal-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 1rem;

}

/* amenities + icons styling */

.amenities-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  flex-wrap: wrap;
}

.amenities-heading{
  padding-bottom: 1rem;
  margin-top: 1rem;

}

.amenity-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-right: 10px;
}

.amenity-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

/* weather styling  */
.weather-box {
 /* float: right; */
 margin-right: 1rem;
}

.weather-ticker {
  /* background: linear-gradient(to right, whitesmoke, #8c8a8e);   */
  background-color: whitesmoke;
  color: black;
  border-radius: 20px;
  text-align: right;
}

.temp {
  font-size: 1.2rem;
  margin-right: 1.5rem;
  margin-left: 1rem;
  font-weight: 500;
  vertical-align: middle;
}

.forecast {
  font-size: 1rem;
  font-weight: 400;
  padding-right: 1rem;
}

/* bottom stuff  */
.busyness-section {
  margin-top: 2rem;
  text-align: center;
  border-top: 1px solid lightgray;
  margin-bottom: 2rem;
}

.busyness-bar {
  display: inline-block;
  padding-top:1rem;
  width: 50%;

}
.busyness-section h5 {
  font-size: 1.25rem;
  margin-top: 1.5rem;
  margin-bottom: 1.25rem;
}

.icons-section {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 2.5rem;
  margin-right: 1.5rem;
  margin-bottom: 1rem;
}
.share-icons .fa {
  color: black;
  font-size: 1.75rem; 
}
.share-icons .fa:hover {
  transform: scale(1.2); /* Scale up the icon on hover */
  color: rgba(46, 139, 87); /* Change color on hover */
}


/* hero img css... */
.hero-image {
  width: 98%;
  height: 625px;
  margin-top: 30px;
  position: absolute;
  z-index: -1;
  background-size: cover;
  background-position: center !important;
  border-radius: 30px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  transition: background-image 1s ease-in-out;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}
