.modal-content-wrapper {
  display: flex;
  justify-content: space-between;
}

.weather-box {
  background: #2b3a42;
  color: white;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.weather-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin-bottom: 10px;
}

.weather-temp {
  font-size: 3rem;
}

.weather-icon {
  width: 60px;
  height: 60px;
}

.weather-details-container {
  display: flex;
  width: 100%;
}

.weather-detail {
  display: flex;
  align-items: center;
  margin-right: 10px;
  width: 100%;
}

.busyness-section {
  margin-top: 20px;
}

.icons-section {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header .modal-title {
  font-size: 24px;
  font-weight: bold;
}

.modal-content-wrapper {
  display: flex;
  justify-content: space-between;
}

.park-info-table td {
  padding: 4px 100px 2px 2px;
}

.park-info-table td:first-child {
  font-weight: bold;
}

.busyness-section {
  padding: 10px 0;
}

.busyness-section h5 {
  font-size: 18px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.busyness-chart {
  height: 100px;
  background-color: #f0f0f0;
  text-align: center;
  line-height: 100px;
}

.icons-section {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
}

.icon-share,
.icon-save {
  margin-left: 20px;
  cursor: pointer;
}

/* .weather-box {
    width: 40%;
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
  }
  
  .weather-box h5 {
    margin-top: 10px;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .weather-info p {
    margin: 5px 0;
  }
  
  .weather-info img {
    vertical-align: middle;
    margin-right: 8px;
  }

  .busyness-section {
    padding: 10px 0;
  }
  
  .busyness-section h5 {
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  
  .busyness-chart {
    height: 100px;
    background-color: #f0f0f0;
    text-align: center;
    line-height: 100px;
  }
  
  .icons-section {
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
  }
  
  .icon-share,
  .icon-save {
    margin-left: 20px;
    cursor: pointer;
  }
   */
