.footer {
    border-top: 1px solid #e0e0e0;
    padding: 0 3rem 0 3rem;
  }
  
  .footer-logo {
    width: 90px;
    height: 50px;
  }
  
  .footer a {
    font-size: 1.2rem;
  }
  
  .footer a:hover {
    color: #007bff;
  }
  