html {
  scroll-behavior: smooth;
}
.with-shadow {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
/* everything needs to be tidied up*/
.main-content {
  position: relative;
  z-index: 2;
  max-width: 100%;
  max-height: 100vh;
  margin-left:0;
  margin: 0 auto;
  padding-bottom: 5rem;
}
  
.heading-row {
  padding-top: 12rem;
  padding-bottom: 3rem;
  padding-left: 8rem;
}

.main-heading {
  font-size: 5rem;
  font-family: "Open Sans", sans-serif; 
  font-weight: 800;
  color: white;
  padding-top: 4rem;
  padding-bottom: 1rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  
}

.tagline {
  font-family: "Open Sans", sans-serif; 
  font-weight: 600;
  color: white;
  font-size: 1.4rem;
}

.jump-button, .nat-park-button {
  margin-left: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 30px;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
  cursor: pointer;
    /* glass button style */
  background-color: rgba(255,255,255,0.4);
  border: 1px solid rgba(255,255,255,0.1);
  backdrop-filter: blur(10px);
  color: rgba(255,255,255,0.8);
}

.search-description {
  padding: 0rem 1.25rem 1.5rem 1.25rem; 
  font-size: 1.15rem;
  font-family: "Open Sans", sans-serif; 
  color: black;
  /* font-weight: 400; */
  overflow:hidden !important;
  display: inline-block;
  width: 0; 
  white-space: nowrap; 
  margin: 0 auto; 
  letter-spacing: 0; 
  animation: 
    typing 3s steps(40, end) forwards,
    blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 40% }
} 

.search-row {
  display: flex;
  justify-content: center;
  align-items: center;
  } 
   
.search-form-div {
  z-index: 5;
  margin-top: 6rem;
  padding: 2rem 1rem 2rem 1rem;
  background-color: whitesmoke;
  text-align: center;
  font-family: "Inter", sans-serif; 
}

.search-heading {
  font-size: 2.5rem;
  padding-top: 4rem;
  padding-bottom: 1rem;
}

.search-form {
  margin-top:1.25rem;
  margin-bottom: 3rem;
  background-color: white;
  padding: 1.5rem;
  border-radius: 1rem;


}

.form-row {
  margin-right: 0; 
}


.search-button {
  width: 100%;
  padding: 0.5rem;
  border-radius: 30px;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
  cursor: pointer;
  background-color: rgba(46, 139, 87);
  border:0;  
  color: rgba(255,255,255,1);
}
.card-section {
  font-family: "Inter", sans-serif; 
  padding-bottom: 3.125rem;
  background-color: whitesmoke;
  
}
.section-heading {
  padding: 3rem 0 5rem 0;
  text-align: center;
  font-family: "Inter", sans-serif; 

}

.nat-parks-section {
  background-image: url("/staticparkimages/natparksimg.jpeg");
  background-position: center;
  padding: 14rem 1rem;
}

.nat-parks-content {
  width: 70%;
  text-align: center;
}

.nat-parks-heading {
  font-size: 2.8rem;
  font-family: "Open Sans", sans-serif; 
  font-weight: 800;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);

}

.nat-parks-link {
  margin-left: 5rem;
  font-family: "Open Sans", sans-serif; 
  color:white;
  font-style: italic;
  font-weight: 600;
  width: 60%;
}

.nat-parks-link p {
  padding-bottom:1rem;;
}

@media (max-width: 768px) {
  .main-heading {
    font-size: 2rem;
  }
  .tagline {
    font-size: 1rem;
  }
  .heading-row {
    padding-left: 2rem;
  }
  .search-heading .section-heading {
    font-size: 1.5rem;
  }

  .search-description {
    width: auto;
    animation: none;
  }
  .nat-parks-section {
    max-width: 100%;
    padding-left: 6rem;
}

}

.faq-section {
  padding: 4rem 2rem;
  background-color: var(--background-color);
  color: var(--text-color);
  text-align: left;
}

.faq-heading {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  text-align: center;
}

.faq {
  margin-top: 2rem;
}

.faq-question {
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid #ddd; /* Light border */
  border-radius: 8px; /* Rounded corners */
  background-color: #3684615b; /* Light background */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  cursor: pointer;
  transition: background-color 0.3s;
}

.faq-question h4 {
  font-size: 1.5rem;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-question p {
  font-size: 1.2rem;
  margin: 0;
  margin-top: 0.5rem;
}

.faq-question.open {
  background-color: #2f735493; /* Giving a slightly darker background for an open question */
}

.faq-arrow {
  font-size: 1.2rem;
  margin-left: 0.5rem;
}
