.date-time-picker-container {
  position: absolute;
  top: 10%;
  left: 2%;
  z-index: 1000; /* Ensures the DateTimePicker is on top of the map */
}

.MuiInputBase-root {
  color: #fff !important; /* Ensure the input text is white */
}

.MuiOutlinedInput-notchedOutline {
  border-color: #555 !important; /* Dark border color */
}

.MuiSvgIcon-root {
  fill: #fff !important; /* Ensure the icon is white */
}

.MuiPickersDay-root {
  color: #fff !important; /* Ensure the day text is white */
}

.MuiPaper-root {
  background-color: #333 !important; /* Dark background for the picker */
}

.MuiButtonBase-root.Mui-selected {
  background-color: #555 !important; /* Selected date background */
}

.MuiButtonBase-root:hover {
  background-color: #777 !important; /* Hover background color */
}
