.parkcard {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  min-height: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  position: relative;
}

.parkcard:hover {
  transform: scale(1.05);
}

.parkcard img {
  width: 100%;
  height: 230px;
  object-fit: cover;
}

.parkcardtitle {
  font-size: 1.5em;
  margin: 10px;
}

.description {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Number of lines to show */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 10px;
}

.parkcardbutton {
  position: absolute;
  bottom: 20px;
  left: 20px;
  padding: 10px;
  background-color: #333;
  color: white;
  text-decoration: none;
  border: none;
  transition: background-color 0.2s;
  font-size: 0.875rem;
}

.parkcardbutton:hover {
  background-color: #555;
}
